html, body {
    height: 100%;
}

.scorebox {
    height: 100px;
    background-color: #f2f2f2;
    border: 1px solid black;
    border-radius: 5px;
}

.homeTeam {
    margin: 20px;
    margin-top: 15px;
    position: absolute;
}

.score {
    right: 0;
}

.awayTeam {
    margin: 20px;
    margin-bottom: 15px;
    position: absolute;
    bottom: 0;
}

#increment {
    position: absolute;
    right: 0;
}

#time_step, .scorebox {
    width: 200px;
    margin: 5px;
    position: relative;
}