html, body {
    height: 100%;
}

.scorebox {
    height: 100px;
    width: 200px;
    background-color: #f2f2f2;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
}

.homeTeam {
    margin: 20px;
    margin-top: 15px;
    position: absolute;
}

.awayTeam {
    margin: 20px;
    margin-bottom: 15px;
    position: absolute;
    bottom: 0px;
}